
<body>
    <main id="mainDetalle" class="mainDetalle">
        <section class="detalle" style="background: linear-gradient(to right top, #6d6969a7, #6d6969a7), url('{{producto.banner}}');" data-aos="zoom-in">
            <div class="contenedorDetalle">
                <div class="imgDetalle">
                    <img src="{{producto.img}}" alt="{{producto.nombre}}">
                </div>
                <div class="textoDetalle">
                    <h1>{{producto.nombre}}</h1>
                    <p>{{producto.estreno}} • {{producto.nombre_genero}} • {{producto.duracion}} min</p>
                    <h2>Descripción general</h2>
                    <p>{{producto.descripcion}}</p>
                    <div class="contenedorCreditos">
                        <div>
                            <h3>{{producto.director}}</h3>
                            <p>Director</p>
                        </div>
                        <div>
                            <h3>{{producto.escritor}}</h3>
                            <p>Escritor</p>
                        </div>
                        <div>
                            <h3>{{producto.idioma}}</h3>
                            <p>Idioma Original</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="trailer" data-aos="fade-up" data-aos-offset="400" data-aos-delay="50" data-aos-duration="1000">
            <div class="contenedorTrailer">
                <h2>Ver trailer</h2>
                <iframe width="560" height="315" src="{{producto.trailer}}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="contenedorInfo">
                <div class="redes">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://buenosaires.gob.ar/educacion/codo-codo-40" target="_blank">
                                <i class="fas fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Información</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Idioma Original</strong></td>
                                <td>{{producto.idioma}}</td>
                            </tr>
                            <tr>
                                <td><strong>Presupuesto de rodaje</strong></td>
                                <td>$ {{producto.presupuesto}}</td>
                            </tr>
                            <tr>
                                <td><strong>Recaudación</strong></td>
                                <td>$ {{producto.recaudacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>