<body>
    <main id="main" class="main">
        <section data-aos="zoom-in" data-aos-duration="1000" class="sectionPrincipal">
            <h1 class="tituloPrincipal">Películas y series ilimitadas <br> en un solo lugar</h1>
            <h2 class="subtituloPrincipal">Disfruta donde quieras. <br> Cancela en cualquier momento.</h2>
            <a class="botonRegistrarse" href="./register">Registrate</a>
        </section>
        <hr>
        <section id="tendencias" data-aos="fade-up" data-aos-offset="400" data-aos-delay="100" data-aos-duration="1000"
            class="peliculasTendencia">
            <h3 class="tituloSection">Las tendencias de hoy</h3>
            <div class="peliculas">
                <div class="peliculas">
                    {{#each productos}}
                    {{#unless this.aclamado}}
                    <a href="/login">
                        <div class="pelicula">
                            <div>
                                <img class="imgTendencia" src="{{this.img}}" alt="{{this.nombre}}" loading="lazy">
                                <div class="tituloPelicula">
                                    <h4>{{this.nombre}}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/unless}}
                    {{/each}}
                </div>
                <button class="boton anterior">Anterior</button>
                <button class="boton siguiente">Siguiente</button>
            </div>
        </section>
        <hr>
        <section data-aos="fade-up" data-aos-offset="200" data-aos-delay="100" data-aos-duration="2000"
            class="peliculasAclamadas">
            <h3 class="tituloSection">Las más aclamadas</h3>
            <div class="aclamadas">
                {{#each productos}}
                {{#if this.aclamado}}
                <div class="peliculaItem">
                    <img class="imgAclamada" src="{{this.img}}" alt="{{this.nombre}}" loading="lazy">
                </div>
                {{/if}}
                {{/each}}
            </div>
        </section>
    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>