<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Usuario</title>
</head>

<body>
    <main class="mainUserProfile">
        <h1 class="tituloPrincipal">Que alegria encontrarnos por acá <br> {{ nombre }} {{ apellido }} </h1>
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="/profile/{{id}}">Ir a mi
                        perfil</a></li>
            </ul>
        </nav>
    </main>

    <!--   <section data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000"
        class="buscadorPrincipal">

        <section class="main">
            <section data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000"
                class="buscadorPrincipal">
                <h2 class="tituloSection">¿Qué estás buscando para ver?</h2>
                <form class="buscadorPeliculas" action="/results?nombre={{nombre}}a" method="get">
                    <input class="inputBuscador" type="text" placeholder="Buscar..." id="buscar" name="nombre">
                    <input class="botonBuscador" type="submit" value="Buscar">
                </form>
            </section>
        </section>
-->
    <hr>

    <main class="main">
        <section id="tendencias" data-aos="fade-up" data-aos-offset="400" data-aos-delay="100" data-aos-duration="1000"
            class="peliculasTendencia">
            <h3 class="tituloSection">Recomendaciones para vos</h3>
            <h2 class="subtituloSection">{{ generos }}</h2>
            <br><br>
            <div class="peliculas">
                <div class="peliculas">
                    {{#each peliculasPorGenero}}
                    {{#each peliculas}}
                    <a href="/detail/{{id}}">
                        <div class="pelicula">
                            <div>
                                <img class="imgTendencia" src="../images/pages/catalogue/{{img}}" alt="{{ nombre }}"
                                    loading="lazy">
                                <div class="tituloPelicula">
                                    <h4>{{ nombre }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
            <br><br>
        </section>
    </main>














    </section>




</body>

</html>